.constr-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 10px;
}

.constr-container .main {
    flex: 1 0 auto;
    height: 0;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 10px
}
