.item {
    cursor: pointer;
    text-align: center;
}

.price {
    vertical-align: middle;
    font-family: 'Iceland';
    font-weight: normal;
    font-size: 28px;
    line-height: .86;
    margin: 0;
    padding: 0;
}
