.container {
    text-align: center;
    height: 100%;
}

.govnokod_privet_ot_yandex_praktikum {
    min-width: 480px;
}

.govnokod_privet_ot_yandex_praktikum :global .input__container {
    width: 100%;
}

.govnokod_privet_ot_yandex_praktikum :global .input {
    width: 100%;
}