.container {
    text-align: center;
    height: 100%;
    max-width: 480px;
    margin-top: min(120px, 25%);
    margin-left: auto;
    margin-right: auto;
}

.container :global .input__container {
    width: 100%;
}

.container :global .input {
    width: 100%;
}

.navMenu > li > a {
    display: flex;
    align-items: center;
    column-gap: .25em;
    text-decoration: none;
    padding: 15px 0;

    cursor: pointer;
    color: #8585AD;
}

.navMenu > li > a:hover, .active {
    color: #F2F2F3 !important;
}

.profile_container {
    flex-grow: 1;
    max-height: calc(100vh - 200px);
    overflow: hidden scroll;
    scrollbar-width: thin;
}

.profile_menu_w :first-child {
    width: calc(100% / 4);
}

.orders_cards_container {
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 0 24px 0 0;
}

.digits_highlight {
    color: #f2f2f3;
    text-shadow: 0 0 16px rgba(51,51,255,.25),0 0 8px rgba(51,51,255,.25),0 4px 32px rgba(51,51,255,.5);
}