.container {
    text-align: center;
    height: 100%;
    max-width: 480px;
    margin-top: min(120px, 25%);
    margin-left: auto;
    margin-right: auto;
}

.container :global .input__container {
    width: 100%;
}

.container :global .input {
    width: 100%;
}

.navMenu > li > a {
    display: flex;
    align-items: center;
    column-gap: .25em;
    text-decoration: none;
    padding: 15px 0;

    cursor: pointer;
    color: #8585AD;
}

.navMenu > li > a:hover, .active {
    color: #F2F2F3 !important;
}

.orders {
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

.orders .box {
    padding: 24px;
    background: #1C1C21;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;

    cursor: pointer;
}

.orders .header {
    display: flex;
}

.orders .header :first-child {
    flex-grow: 1;
}

.orders .header :last-child {
    color: #8585AD;
}

.orders .items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.orders .item {

    position: relative;

    width: 64px;
    height: 64px;
    overflow: hidden;

    border: solid 2px transparent;
    border-radius: 100%;

    background: linear-gradient(#131316, #131316), linear-gradient(to right, #801AB3, #4C4CFF);
    background-origin: border-box;
    background-clip: content-box, border-box;

}

.orders .item:not(:first-child) {
    margin-right: -24px;
}

.orders img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
}