.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    overflow-y: auto;
    background: rgba(0, 0, 0, .6);
    align-items: flex-start;
    display: flex;
    padding: 15px 40px;
}

.modal-dialog {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;

    width: 720px;
    max-width: 100% !important;

    margin-top: auto !important;
    margin-bottom: auto !important;

    display: flow-root;
    padding: 30px 30px;

    background: #1C1C21;

    /* /interface/modal edge */

    /* card/x-large */
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;


}