.tabs {
    display: flex;
}

.tabs > * { /* bug в @ya/Tabs: не влазиет по ширине. */
    min-width: auto;
    flex-basis: 120px;
}

.scroll {
    max-height: calc(100vh - 250px);
    overflow: hidden scroll;
    scrollbar-width: thin;
}